.about-section {
    padding-top: 60px;
}
.about-container__list {
    display: block;
    align-items: center;
    justify-content: center;
}
.about-container__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--team-background-color);
    border-radius: 4px;
}
.about-container__text {
    display: block;
    margin-top: 30px;
}
.about-container__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-font-color);
    }
.about-container__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
    margin-top: 10px;
    }
// 0px - 767px
@media screen and (max-width: 767px) {
    .about-container__list {
            &:not(:first-child) {
                padding-top: 30px;
            }
        }
    .description-indent {
        display: none;
        }
}
  // 768px +
@media screen and (min-width: 768px) {
    .about-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        }
    .description-indent {
        display: none;
        }
    .about-container__description {
        display: flex;
        flex-wrap: wrap;
        }
}
// 768px - 1199px
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .about-container__list {
        flex-basis: calc((100% - 30px) / 2);
                &:nth-child(n + 3) {
                    padding-top: 30px;
                }
            }
  }
// 1200px +
@media screen and (min-width: 1200px) {
    .about-section {
        padding-top: 94px;
        }
    .about-container__list {
        flex-basis: calc((100% - 90px) / 4);
        } 
}
