.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo__studio-header {
    color: var(--logo-studio-header-color);
}

// .logo {
//     font-family: var(--secondary-font-family);
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--accent-color);
//     }
// .logo__studio-header {
//     color: var(--logo-studio-header-color);
//     }