.body {
    font-family: var(--primary-font-family);
    background: var(--main-background-color);
    overflow: auto;
    } 
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
    }
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    }
img {
    display: block;
    max-width: 100%;
    height: auto;
    }
.list {
    list-style: none;
    }
.link {
    text-decoration: none;
    color: none;
    }
.sections {
    padding-top: 60px;
    padding-bottom: 60px;
    } 
    // 1200px +
@media screen and (min-width: 1200px) {
.sections {
    padding-top: 95px;
    padding-bottom: 95px;
    } 
}