:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family:"Raleway", sans-serif;
    --accent-color:#2196F3;
    --hover-focus-btn-color:#188CE8;
    --main-font-color: #212121;
    --secondary-font-color: #757575;
    --main-background-color: #FFFFFF;
    --hero-footer-background-color: #2F303A;
    --team-background-color: #F5F4FA;
    --logo-studio-header-color: #000000;
    }